# =========================
# Environment Variables
# =========================
.env
.env.*
**/.env
**/.env.*

# =========================
# Node.js
# =========================
node_modules/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Build
# =========================
dist/
build/

# =========================
# Logs
# =========================
*.log
npm-debug.log*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db