.profile-container{

    padding:30px;

}

.profile-card{

    background:white;

    padding:25px;

    border-radius:12px;

    box-shadow:0 3px 10px rgba(0,0,0,.08);

}

.profile-card p{

    margin:15px 0;

}